body {
    font-family: Arial, sans-serif;
    background: #fff0f5;
    color: #333;
    margin: 0;
    padding: 40px;
}

header {
    text-align: center;
    background: #ffb6c1;
    padding: 35px;
    border-radius: 20px;
    margin-bottom: 25px;
}

header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

section {
    background: white;
    padding: 25px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 15px;
    box-shadow: 0 4px 12px #ddd;
}

h2 {
    color: #d6336c;
}

li {
    margin: 10px 0;
}